.container{
    width: 936px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 2px solid red;
}


                              /* Header */
.header {
    margin-top: 71px ;
    margin-bottom: 92px;
}


.haeder__nav {
    
}


.haeder__nav__list {
    display: flex;
    gap: 99px;
    justify-content: center;
}


.header__nav__item {
}


.header__nav__link {
color: #7D7D7D;
font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 400;
}


.header__nav__link:hover,
.header__nav__link:focus{
    color: #03A9F4;
}

                                    /* maim blog */
.blog__list {
    display: flex;
    flex-wrap: wrap;
}


.blog__item {
}


.blog__item__img {
}


.blog__item__subtitle {
color: #B4AD9E;
font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 300;
}


.blog__item__title {
color: #626262;
font-family: 'Playfair Display', serif;
font-size: 30px;
font-weight: 400;
}


.blog__item__text {
color: #626262;
font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 400;
}


.blog__button {
width: 165px;
height: 60px;
color: #626262;
font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 400;
}