.header {
    margin-top: 71px ;
    margin-bottom: 92px;
}


.haeder__nav__list {
    display: flex;
    gap: 99px;
    justify-content: center;
}


.header__nav__link {
color: $title-color;
font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 400;


&:hover,
&:focus{
    color: #03A9F4;
}
}


