%blog__item__text{
    color: $main-color;
font-family: 'Playfair Display', serif;
font-weight: 400;
}


.blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 130px 65px;
    justify-content: center;
}


.blog__item {
    flex-basis: calc((100% - 65px) / 2);
}


.blog__item__img {
    margin-bottom: 32px;
}


.blog__item__subtitle {
color: $subtitle-color;
font-family: 'Ubuntu', sans-serif;
font-size: 14px;
font-weight: 300;
margin-bottom: 32px;
}


.blog__item__title {
    @extend %blog__item__text;
font-size: 30px;
margin-bottom: 40px;
}


.blog__item__text {
    @extend %blog__item__text;
font-size: 14px;
width: 420px;
}


.blog__button {
    display: flex;
    margin: 0 auto;
width: 165px;
height: 60px;
color: $main-color;
font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 400;
align-items: center;
border: 1px solid $main-color;
margin-bottom: 66px;
margin-top: 90px;
justify-content: center;
}